@font-face {
  font-family: 'Roboto T';
  font-display: swap;
  src: url("../fonts/Roboto-Thin.ttf") format("truetype");
}
@font-face {
  font-family: 'Roboto L';
  font-display: swap;
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: 'Roboto R';
  font-display: swap;
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Roboto M';
  font-display: swap;
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: 'Roboto B';
  font-display: swap;
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}